<%- include('partials/header') %>

<div class="container">
  <h1>About Us</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veniam
    tempore, distinctio magnam inventore illum culpa, laudantium beatae, numquam
    sint nam ad quibusdam nisi ex excepturi expedita neque voluptatibus
    repellendus.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae sed sequi
    voluptatum, dolorum ea voluptates corporis animi ex quae, distinctio ut.
    Odio explicabo dolore aspernatur facere, esse quaerat vero aliquid?
  </p>
  <p>
    Ratione voluptatem voluptates qui ut est, sapiente porro deleniti assumenda
    iste totam praesentium blanditiis dolorem fugit cumque, animi quae similique
    a ipsum accusamus possimus nam esse. Eos nam dignissimos quas.
  </p>
  <p>
    Eius, quae? Dolorem culpa obcaecati aperiam, velit consequatur labore cumque
    ratione tempore reprehenderit quis distinctio praesentium, quod pariatur
    expedita! Asperiores maiores in iusto tempore dicta ratione odit sunt
    mollitia delectus.
  </p>
  <p>
    Enim vero eaque incidunt excepturi, voluptates voluptatum laudantium ipsum.
    Fugiat aliquam nostrum quisquam id accusamus pariatur numquam esse in
    excepturi autem? Voluptates, ipsum nihil est rem corporis ad hic optio!
  </p>
  <p>
    Voluptate mollitia rem saepe eum, alias eaque praesentium recusandae atque
    dolore temporibus repellendus! Numquam, illum iure suscipit commodi
    accusamus, fugiat nemo facilis modi nostrum est non cupiditate ducimus sint
    ipsa.
  </p>
  <p>
    Veniam recusandae ipsa labore fugiat ullam aliquam accusantium, quod sint
    fuga repellat reprehenderit quo corporis at. Deserunt consequuntur similique
    dolore earum dolor exercitationem, at dignissimos neque, atque laborum
    aliquam cupiditate.
  </p>
  <p>
    Facilis consectetur fuga inventore odio corporis et iusto earum nostrum
    mollitia aut nesciunt quaerat dolore blanditiis placeat illum, nihil optio
    dicta dolorum magni odit rerum saepe ducimus qui. Quos, commodi.
  </p>
  <p>
    Cupiditate, ducimus voluptatum veniam reprehenderit suscipit, tempora,
    aperiam sed error sit fugiat est autem dignissimos neque inventore non
    dolores rem quis accusantium repellat ipsum repudiandae? Fugiat adipisci
    iste dolores molestias.
  </p>
</div>

<%- include('partials/footer') %>
