<%- include('partials/header') %>

<div class="container">
  <% if(typeof message != 'undefined') {%>
  <h1><%=message%></h1>
  <% } %>
  <!-- <img src="images/wall.jpg" /> -->
</div>
<style>
  body {
    background: url("images/wall.jpg");
    background-position: center top;
    color: #fff;
    text-align: center;
  }
  .footer {
    opacity: 0.5;
  }
</style>
<%- include('partials/footer') %>
